# Install:
#    sudo ln -s `pwd`/hercules_ctrl.service /lib/systemd/system
#    sudo systemctl daemon-reload
#
# Start on each boot:
#    sudo systemctl enable hercules_ctrl.service
#
# Start right now:
#    sudo systemctl start hercules_ctrl.service

[Unit]
Description=Hercules Bot Ctrl
Wants=network-online.target
After=network-online.target
Wants=systemd-timesyncd.service
After=systemd-timesyncd.service

[Service]
Environment=DISPLAY=:0
Type=simple
Restart=always
User=pi
ExecStart=/usr/bin/python3 -u /home/pi/AIY-projects-python/hercules_ctrl.py --language en-US

[Install]
WantedBy=multi-user.target
